body{
  background-color: #1a1f30;
  color: rgb(137,136,154);
}


tr, td, th{
  padding: 30px;
  border: 3px solid #1a1f30;
  border-collapse: collapse;
}

th{
  background-color: #1a1f30;
}

.header_table{
  color: #58b3e4;
}

table{
  text-align: left;
  vertical-align: middle;
  margin: auto;
  background-color: #232a3b;
  width: 70%;
  border-collapse: collapse;
}

tr:nth-child(even){
  background-color: #2a3144;

}

td:hover{
  background-color: #fcf537;
  box-shadow: -2px 2px 0px 2px rgba(195,188,6,1);
}

tr:hover{
  background-color: #3b3f45;
}
