ul{
  list-style-type: none;
  background-color: #202e41;
  color: #bcc0c4;
  margin: 0px;
  padding: 0px;
}

li{
  display: inline-block;
  padding: 20px;
  border-right: 1px solid #263448;
}

li:hover{
  background-color: #0094dd;
  color: white;
  transition: 1.5s;
}

a{
  color: #bcc0c4;
  text-decoration: none;
}
